#root {
  /* background-color: #333333; */
  width: 100%;
  height: 100vh;
}
.container-custom {
  display: flex;

  margin: auto;
  width: 500px;
  height: 500px;
  background-color: white;
}
.containerHomePage {
  border: 0.2rem solid #ffc107;
}

.customModalOverlay {
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customModalContent {
  z-index: 10001;
  position: fixed;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
}

.customContentModal {
  border-radius: 0.3rem !important;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-30px);
  }
}
.slideDown {
  animation: slideDown 0.3s ease-in-out forwards;
}

.slideUp {
  animation: slideUp 0.3s ease-in-out forwards;
  animation-fill-mode: forwards;
}
